body {
	font-family: Arial;
}

#params-table {
	padding-bottom: 15px;
}

#params-table td, th {
	padding: 5px;
}

#sort-button {
	font-weight: bold;
}

#comments-table td, th {
	padding: 5px;
}

#comments-table th {
	background-color: #bbb;
}
