<head>
<title>SpoticleTest</title>
</head>

<body>

	<table id="params-table">
		<tr>
			<td>VOTE_WEIGHT</td>
			<td><input id="vote-weight-value" type="text" value="{{voteWeight}}" /></td>
		</tr>
		<tr>
			<td>LAST_ACTIVITY_TIME_WEIGHT</td>
			<td><input id="last-activity-time-weight-value" type="text" value="{{lastActivityTimeWeight}}" /></td>
		</tr>
		<tr>
			<td span="*">
				<button id="sort-button">Sort</button>
			</td>
		</tr>
	</table>

	<table id="comments-table">
		<tr>
			<th>ID</th>
			<th>Creation Date</th>
			<th>Age</th>
			<th>Up Votes</th>
			<th>Down Votes</th>
			<th>Last Activity</th>
			<th>Last Activity Age</th>
		</tr>
		{{#each comments}}
		<tr>
			<td>{{id}}</td>
			<td>{{date.format}}</td>
			<td>{{age}}</td>
			<td><input class="up-votes" value="{{votes.up}}" size="2"/></td>
			<td><input class="down-votes" value="{{votes.down}}" size="2"/></td>
			<td>{{lastActivity.format}}</td>
			<td>{{ageLastActivity}}</td>
			<td><button class="create-activity-button">Create Activity</button></td>
		</tr>
		{{/each}}
	</table>

</body>

